// Prefix for :root CSS variables
$variable-prefix: omb- !default;

// colors-variables
$white: #fff !default;
$primary-color: #e3dc29 !default;
$primary-shadow-color: #e3dc29bf !default;
$light-gray: #b8b8b8 !default;
$black: #000 !default;

// colors-map
$colors: (
  "white": $white,
  "primary-color": $primary-color,
  "primary-shadow-color": $primary-shadow-color,
  "light-gray": $light-gray,
  "black": $black,
) !default;
